#navigation-bar {
  background-color: #95BDFF;
}

#navigation-bar a {
  color: #fff;
  font-family: "Lora";
  font-weight: bold;
}

#navigation-bar span {
  color: #fff;
  font-family: "PT Serif";
  font-weight: bold;

}


#navigation-bar li:hover {

  background-color: #3F497F;
}

#navigation-bar .dropdown-menu {
  background-color: #6096B4;
}

#navigation-bar .dropdown-menu a:hover {
  color: black;
}

#navigation-bar .nav a {
  font-size: 1.3rem;
}

 /* html { 
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: white;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

img {
  position: absolute;
  bottom: 0;
  width: 100%;
  
}

.content {
  background-color: #1d1d4f;
  padding: 40px;
  position: relative;

}

h1 {
  text-align: center;
  margin: 40px 0;
}

p {
  text-align: justify;
  line-height: 20px;
  letter-spacing: 1px;
  text-indent: 50px;
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  opacity: 0.7;
}
.layer-3 {
  position: absolute;
}
.layer-3 h1{
  margin-top: 80px;
}

.layer-3 p{
  max-width: 600px;
  text-indent: 0;
  text-align: center;
  font-size: 14px;
  transform: translateY(-20px);
}
.layer-3 a {
  background-color: #7ff5ff;
  display: block;
  width: 14opx;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: auto;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #514c9c;

} */ 


/* Login */ 

#hal-login {
  background-image: url(/img/login9.png);
  background-size: cover;
  margin-top: -50px;
  height: 800px;
}


#home-isi {
  margin-top: -60px;
  margin-bottom: 20px;
}


#home-text {
  font-family: "Rampart One";
  color: #544541;
  margin-top: -100px;
  margin-left: -170px;
}

#button {
  margin-left: -170px;
}

#home-btn {
  color: #fff;
}

#home-perundungan {
  font-family: Karla;
  margin-top: -350px;
  margin-left: 500px;
}

#home-teks {
  font-family: 'Single Day';
  font-size: 27px;
  margin-left: 130px;
}

#stop-img {
  margin-left: 160px;
}

#bully-img {
  background-size: auto;
  margin-top: 100px;
  margin-bottom: 70px;
}

#edukasi {
  margin-top: 400px;
  margin-left: 300px;
}

#edukasi-img {
  margin-top: -500px;
  margin-left: 10px;

}

#edukasi-kata {
  margin-right: 100px;
  margin-top: -400px;

}

#edukasi-button {
  margin-right: 100px;
}

#edukasi-youtube {
  margin-top: -300px;
  margin-left: -40px;
}


/* #hal-bully {
  background-image: url(/img/bg.png);
  background-size: cover;
  height: 700px;
  margin-left: 50px;
} */


#apa-bullying {
  margin-top: -30px;
  margin-left: 500px;
  font-family: Caveat;
  color: #4E6E81;
}

#text-bully {
  margin-top: 20px;
  margin-left: 200px;
  font-family: Kalam;
  font-size: 20px;
  color: #18122B;
}

#text-artikel {
  margin-top: 30px;
  margin-left: 200px;
  font-family: Kalam;
  font-size: 20px;
}

#video-bullying {
  margin-top: 20px;
  margin-right: -60px;
}

#bullying {
  margin-right: 30px;
}

#verbal-bully {
  font-family: Caveat;

}

#text-verbal {
  margin-top: 20px;
  font-family: Kalam;
  font-size: 30px;
}

/*lapor*/

#hal-lapor {
  background-color: #b3c3db;
  margin-top: 50px;
  width: 650px;
  height: 500px
}


#edukasi-dukungan {
  margin-right: 200px;
}

#edukasi-video {
  margin-top: 20px;
}



.container-fluid {
  margin-top: 100px;
}

.halaman-lapor {
  background-color: #FD841F;
}

/* #user-home {
  background-color: #7B8FA1;
  color: #567189;
}

#table-text{
  color: white;

}

#garis {
  color: #000000;
} */

/*footer*/

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


.site-footer {
  background-color: #6096B4;
  margin-top: 110;
  padding: 10px 0px 10px 0px;
  font-size: 20px;
  /* line-height: 30px; */
  color: #fff;
}


.site-footer h6 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}



.site-footer a:hover {
  color: #59CE8F;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;

}

.footer-links {
  padding-left: 0;
  list-style: none;

}


.footer-links a {
  color: #fff;
}

.site-footer li {
  line-height: 40px;
}