@import "~bootstrap";
@import "~bootstrap-icons";
@import url('https://fonts.googleapis.com/css2?family=Lora');
@import url('https://fonts.googleapis.com/css2?family=Karla');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One');
@import url('https://fonts.googleapis.com/css2?family=Single+Day');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Caveat');
@import url('https://fonts.googleapis.com/css2?family=Kalam');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css2?family=Russo+One');
@import url('https://fonts.googleapis.com/css2?family=Lobster');
@import url('https://fonts.googleapis.com/css2?family=Sans+Serif');
@import url('https://fonts.googleapis.com/css2?family=Poppins:300; 400; 500; 600; 700; 800; 900&display=swap');
// @import "document.getElementById";
// @import "window.scrollY"; 
// @import " window.addEvenListener";
